* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    background-color: #f9faf8;
    color: #fff;
    line-height: 1.5;
    max-width: 1200px;
}

.section {
    background-image: url("/images/green-leaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 40vw;
    min-height: 300px;
    min-width: 200px
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.495);
    height: 100px;
    width: 100%;
    margin-top: 23vh;
}

.logo img {
    padding-top: 5px;
    height: 90px;
    width: auto;
    object-fit: contain;
}

